*
{
	
	margin:0px;
	padding:0px;
	
}
body{
	background-color: azure;
}

#menu ul
{
	
	list-style:none;
}
#menu ul li{
	
	
	background-color:steelblue;
	border:1px solid white;
	width:200px;
	height:35px;
	text-align:center;
	line-height:35px;
	float:left;
	position:relative;
	border-radius:7px;
}
#menu ul li a
{
	
	text-decoration:none;
	color:white;
	display:block;
}
#menu ul li a:hover
{
	background-color:green;
	border-radius:7px;
}
#menu ul ul{
	
	position:absolute;
	display:none;
	
}
#menu ul li:hover > ul
{
	
	display:block;
}
#menu ul ul ul
{
	
	margin-left:200px;
	top:0px;
	color:wheat;
}
#menu ul ul ul ul
{
	
	margin-left:200px;
	top:200px;
	color:wheat;
}
#heading h1{
  
  color:olivedrab;
  text-align: center;
  text-decoration-color: Blue;
  display:bold;
  text-size:40px;
  margin:0px;
  font-size:60px;
  
}

#logo{
 width:55%;
 
  color:black;
  margin:0 auto;
  
 padding:1rem; 
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}
